.aluno {
    font-weight: 600;
    font-size: larger;
}

ion-label {
    font-size: larger;
}

ion-content {
    justify-content: center;
    align-items: center;
}

ion-card {
    margin-top: 10%;
}

.button {
    text-align: center;
    padding: 5% 0 0 0%;
}