<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content class="ion-padding ion-text-center" color="light">

  <div id="container">
      <div class="welcome-text">
        <h1>Olá, seja bem vindo(a)!</h1>
        <p>Escolha uma opção para explorar o app:</p>
      </div>
      
    <ion-button expand="block" [routerLink]="['/pagina-2']">Perfil do aluno</ion-button>
    <ion-button expand="block" [routerLink]="['/pagina-3']">Recomendação de música</ion-button>
  </div>

  
</ion-content>
